a {
  padding: 10px 13px;
  background-color: rgb(241, 74, 13);
  color: white;
  border: 2px solid white;
  border-radius: 4px;
}

body {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/images/Canada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100vh;
}

div {
  text-align: center;
  margin-top: 300px;
  color: white;
}

h1 {
  font-size: 50px;
  font-family: arial, sans-serif;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
}
